/* ========================================================================== 
   MARK: Index page 
   ========================================================================== */

/* Place the submit button at the bottom-right of the form. */
.windowBox form {
    display: flex;
    flex-direction: column;
}

.windowBox form button {
    align-self: flex-end;
    /* justify-self: flex-end; */
    width: max-content;
}

/* Form styling */
input {
    padding: 6px;
    border: 2px solid var(--border-secondary);
    font-family: monospace;
}

label {
    display: flex;
}

/* amount input */
label:has(input[type="number"]) {
    flex-direction: column;
}

label:has(input[type="number"]) input {
    width: min-content;
    margin: 0.5rem 0.2rem;
    border: solid 2px var(--border-primary);
}

/* Genre checkboxes */
label:has(input[type="checkbox"]) {
    padding: 0 0.05rem 0.5rem;
    color: var(--text-secondary);
}

input[type="checkbox"] {
    align-self: flex-start;
    order: -1;
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    padding: 1rem 0 0.5rem;
}