:root {
    --bg-main: #1a1625;
    --bg-panel: #f7f7f3;
    --accent-purple: #B49EF1;
    --shadow-purple: #715dc0;
    --highlight-purple: #dec8f6;
    --accent-pink: #ff77c8;
    --accent-blue: #6db7ff;

    --text-main: #e6e1ff;
    --text-dim: #9a92b3;

    --border-light: #cfc7ff;
    --border-dark: #414047;

}

/* .pixel-box {
    background: var(--bg-panel);
    border: 2px solid var(--border-dark);
    box-shadow:
        2px 2px 0 var(--border-light),
        inset -2px -2px 0 var(--border-dark),
        inset 2px 2px 0 var(--border-light);
} */

.windowBox {
    background-color: var(--bg-panel);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    & span {
        border: 2px solid pink;

        padding: 0.2rem;
    }

    & form {
        /* background: hotpink; */
        padding: 1rem 2rem;
        gap: 1rem;

        display: flex;
        flex-direction: column;

        & button {
            width: max-content;
            align-self: flex-end;
        }

    }


}


/* source https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4 */

/* px corner m */
.px-corners-m,
.px-corners-m--wrapper {
    clip-path: polygon(0px calc(100% - 8px),
            2px calc(100% - 8px),
            2px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 2px),
            8px calc(100% - 2px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 2px,
            4px 2px,
            4px 4px,
            2px 4px,
            2px 8px,
            0px 8px);
    position: relative;
}

.px-corners-m {
    border: 2px solid transparent;
}

.px-corners-m--wrapper {
    width: fit-content;
    height: fit-content;
}

.px-corners-m--wrapper .px-corners-m {
    display: block;
    clip-path: polygon(2px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 2px),
            8px calc(100% - 2px),
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            2px calc(100% - 8px));
}

.px-corners-m::after,
.px-corners-m--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 8px),
            2px calc(100% - 8px),
            2px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 2px),
            8px calc(100% - 2px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 2px,
            4px 2px,
            4px 4px,
            2px 4px,
            2px 8px,
            0px 8px,
            0px 50%,
            2px 50%,
            2px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 2px),
            8px calc(100% - 2px),
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            2px calc(100% - 8px),
            2px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--border-dark);
    display: block;
    pointer-events: none;
}

.px-corners-m::after {
    margin: -2px;
}

/* px corner s */

.px-corners-s,
.px-corners-s--wrapper {
    clip-path: polygon(0px calc(100% - 2px),
            2px calc(100% - 2px),
            2px 100%,
            calc(100% - 2px) 100%,
            calc(100% - 2px) calc(100% - 2px),
            100% calc(100% - 2px),
            100% 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) 0px,
            2px 0px,
            2px 2px,
            0px 2px);
    position: relative;
}

.px-corners-s {
    border: 2px solid transparent;
}

.px-corners-s--wrapper {
    width: fit-content;
    height: fit-content;
}

.px-corners-s--wrapper .px-corners-s {
    display: block;
    clip-path: polygon(2px 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) calc(100% - 2px),
            2px calc(100% - 2px));
}

.px-corners-s::after,
.px-corners-s--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 2px),
            2px calc(100% - 2px),
            2px 100%,
            calc(100% - 2px) 100%,
            calc(100% - 2px) calc(100% - 2px),
            100% calc(100% - 2px),
            100% 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) 0px,
            2px 0px,
            2px 2px,
            0px 2px,
            0px 50%,
            2px 50%,
            2px 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) calc(100% - 2px),
            2px calc(100% - 2px),
            2px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--border-dark);
    display: block;
    pointer-events: none;
}

.px-corners-s::after {
    margin: -2px;
}





img {
    height: 200px;
    aspect-ratio: 1/1;
}

/* body {
  background: radial-gradient(circle at 70% 30%, #3a2f5a, #1a1625);
} */

body {
    /* background: hotpink; */

    font-family: monospace;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}



button {
    background: var(--accent-purple);
    color: white;
    border: 2px solid var(--border-dark);
    padding: 0.7rem 1rem;
    font-size: 1em;
    cursor: pointer;

    box-shadow:
        /* 2px 2px 0 var(--border-light), */
        inset -2px -2px 0 var(--border-dark);

    background: linear-gradient(180deg, var(--highlight-purple) 0rem, var(--highlight-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--shadow-purple) calc(100% - 0.25rem)), linear-gradient(90deg, var(--highlight-purple) 0rem, var(--highlight-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--shadow-purple) calc(100% - 0.25rem)), var(--accent-purple);

}

button:active {
    box-shadow:
        inset 2px 2px 0 var(--border-dark);
    transform: translate(2px, 2px);

    background: linear-gradient(180deg, var(--shadow-purple) 0rem, var(--shadow-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--highlight-purple) calc(100% - 0.25rem)), linear-gradient(90deg, var(--shadow-purple) 0rem, var(--shadow-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--highlight-purple) calc(100% - 0.25rem)), var(--accent-purple);

}

input {
    /* background: #0f0c1a; */
    /* color: #8affc1; */
    border: 2px solid var(--border-dark);
    padding: 6px;
    font-family: monospace;
}

/* .window {
  width: 320px;
  background: var(--bg-panel);
  border: 2px solid var(--border-dark);
  box-shadow: 4px 4px 0 #000;
}

.window-header {
  background: linear-gradient(90deg, #8a6df1, #ff77c8);
  padding: 4px 8px;
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-body {
  padding: 12px;
} */