:root {
    --bg-main: #1a1625;
    --bg-panel: #f2f2eb;
    --bg-panel-shadow: #ddd9d4;
    --bg-panel-highlight: #fdfdfd;
    --accent-purple: #a78ee9;
    --accent-hover-purple: #8a69e4;
    --shadow-purple: #7044bc;
    --highlight-purple: #d1c0fa;
    --accent-pink: #ff77c8;
    --accent-blue: #6db7ff;

    --text-main: #302f37;
    --text-dim: #8272ad;

    --border-light: #8272ad;
    --border-dark: #414047;

}

@font-face {
    font-family: 'PressStart2P';
    src: url('../asssets/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .pixel-box {
    background: var(--bg-panel);
    border: 2px solid var(--border-dark);
    box-shadow:
        2px 2px 0 var(--border-light),
        inset -2px -2px 0 var(--border-dark),
        inset 2px 2px 0 var(--border-light);
} */

.windowBox {
    background-color: var(--bg-panel);
    background: linear-gradient(180deg, var(--bg-panel-highlight) 0rem, var(--bg-panel-highlight) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--bg-panel-shadow) calc(100% - 0.25rem)), linear-gradient(90deg, var(--bg-panel-highlight) 0rem, var(--bg-panel-highlight) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--bg-panel-shadow) calc(100% - 0.25rem)), var(--bg-panel);


    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.3rem;

    & span {
        border: 2px solid pink;
        background: var(--shadow-purple);
        color: white;

        padding: 0.2rem;
    }

    & .content {
        padding: 1rem 2rem;
        gap: 1rem;

    }



    & form {
        /* background: hotpink; */

        display: flex;
        flex-direction: column;

        & button {
            width: max-content;
            align-self: flex-end;
        }

    }




}


/* source https://pixelcorners.lukeb.co.uk/?radius=8&multiplier=4 */

/* px corner m */
.px-corners-m,
.px-corners-m--wrapper {
    clip-path: polygon(0px calc(100% - 8px),
            2px calc(100% - 8px),
            2px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 2px),
            8px calc(100% - 2px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 2px,
            4px 2px,
            4px 4px,
            2px 4px,
            2px 8px,
            0px 8px);
    position: relative;
}

.px-corners-m {
    border: 2px solid transparent;
}

.px-corners-m--wrapper {
    width: fit-content;
    height: fit-content;
}

.px-corners-m--wrapper .px-corners-m {
    display: block;
    clip-path: polygon(2px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 2px),
            8px calc(100% - 2px),
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            2px calc(100% - 8px));
}

.px-corners-m::after,
.px-corners-m--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 8px),
            2px calc(100% - 8px),
            2px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 2px),
            8px calc(100% - 2px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 2px,
            4px 2px,
            4px 4px,
            2px 4px,
            2px 8px,
            0px 8px,
            0px 50%,
            2px 50%,
            2px 8px,
            4px 8px,
            4px 4px,
            8px 4px,
            8px 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 8px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 8px) calc(100% - 2px),
            8px calc(100% - 2px),
            8px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 8px),
            2px calc(100% - 8px),
            2px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--border-dark);
    display: block;
    pointer-events: none;
}

.px-corners-m::after {
    margin: -2px;
}

/* px corner s */

.px-corners-s,
.px-corners-s--wrapper {
    clip-path: polygon(0px calc(100% - 2px),
            2px calc(100% - 2px),
            2px 100%,
            calc(100% - 2px) 100%,
            calc(100% - 2px) calc(100% - 2px),
            100% calc(100% - 2px),
            100% 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) 0px,
            2px 0px,
            2px 2px,
            0px 2px);
    position: relative;
}

.px-corners-s {
    border: 2px solid transparent;
}

.px-corners-s--wrapper {
    width: fit-content;
    height: fit-content;
}

.px-corners-s--wrapper .px-corners-s {
    display: block;
    clip-path: polygon(2px 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) calc(100% - 2px),
            2px calc(100% - 2px));
}

.px-corners-s::after,
.px-corners-s--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 2px),
            2px calc(100% - 2px),
            2px 100%,
            calc(100% - 2px) 100%,
            calc(100% - 2px) calc(100% - 2px),
            100% calc(100% - 2px),
            100% 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) 0px,
            2px 0px,
            2px 2px,
            0px 2px,
            0px 50%,
            2px 50%,
            2px 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) calc(100% - 2px),
            2px calc(100% - 2px),
            2px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--border-dark);
    display: block;
    pointer-events: none;
}

.px-corners-s::after {
    margin: -2px;
}



h1 {
    color: var(--text-main);
    font-family: "PressStart2P", monospace, Helvetica, sans-serif;
    font-size: 1.5rem;
}

img {
    height: 200px;
    aspect-ratio: 1/1;
}

/* body {
  background: radial-gradient(circle at 70% 30%, #3a2f5a, #1a1625);
} */

body {
    /* background: hotpink; */

    font-family: monospace;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-main);
}



button {
    background: var(--accent-purple);
    color: white;
    border: 2px solid var(--border-dark);
    padding: 0.7rem 1rem;
    font-size: 1em;
    cursor: pointer;

    box-shadow:
        /* 2px 2px 0 var(--border-light), */
        inset -2px -2px 0 var(--border-dark);

    /* bron : https://codefoodpixels.com/ */
    background: linear-gradient(180deg, var(--highlight-purple) 0rem, var(--highlight-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--shadow-purple) calc(100% - 0.25rem)), linear-gradient(90deg, var(--highlight-purple) 0rem, var(--highlight-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--shadow-purple) calc(100% - 0.25rem)), var(--accent-purple);

    &:hover {
        background: linear-gradient(180deg, var(--accent-purple) 0rem, var(--accent-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--shadow-purple) calc(100% - 0.25rem)), linear-gradient(90deg, var(--accent-purple) 0rem, var(--accent-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--shadow-purple) calc(100% - 0.25rem)), var(--accent-hover-purple);
    }

}

button:active {
    box-shadow:
        inset 2px 2px 0 var(--border-dark);
    transform: translate(2px, 2px);

    /* background: linear-gradient(180deg, var(--shadow-purple) 0rem, var(--shadow-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--highlight-purple) calc(100% - 0.25rem)), linear-gradient(90deg, var(--shadow-purple) 0rem, var(--shadow-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--highlight-purple) calc(100% - 0.25rem)), var(--accent-purple); */
    background: linear-gradient(180deg, var(--shadow-purple) 0rem, var(--shadow-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.2rem), var(--accent-purple) calc(100% - 0.25rem)), linear-gradient(90deg, var(--shadow-purple) 0rem, var(--shadow-purple) 0.20rem, transparent 0.25rem, transparent calc(100% - 0.25rem), var(--accent-purple) calc(100% - 0.25rem)), var(--accent-hover-purple);

}

input {
    /* background: #0f0c1a; */
    /* color: #8affc1; */
    border: 2px solid var(--border-dark);
    padding: 6px;
    font-family: monospace;
}

/* .window {
  width: 320px;
  background: var(--bg-panel);
  border: 2px solid var(--border-dark);
  box-shadow: 4px 4px 0 #000;
}

.window-header {
  background: linear-gradient(90deg, #8a6df1, #ff77c8);
  padding: 4px 8px;
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-body {
  padding: 12px;
} */

/* fieldset:has(label input[type="checkbox"]) {
    display: flex;
    flex-direction: column;
} */

label {
    display: flex;
    /* font-size: 1.2rem; */
}

label:has(input[type="number"]) {
    flex-direction: column;

    & input {
        width: min-content;
        border: solid 2px var(--border-light);
        margin: 0.5rem 0.2rem;
    }

}


label:has(input[type="checkbox"]) {
    /* display: flex; */
    padding: 0 .05rem 0.5rem;
    color: var(--text-dim);

}

input[type="checkbox"] {
    order: -1;
    /* justify-self: flex-start; */
    align-self: flex-start;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

legend {
    padding: 1rem 0 0.5rem;
}




/* carrousel results page */
/* source basic voor carrousel afgeleid van deze site https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels */


/* styling content box */
.windowBox div {
    display: flex;
    flex-direction: column;

}

#recordList {
    align-self: center;
    margin: 2rem;
}

/* creating carousel */
/* the ul */
#recordList {
    /* width even veranderen naar % zodat het over de parent aat */
    width: 90%;
    height: 40vw;
    padding: 2rem 2rem 5rem;
    display: flex;
    gap: 4vw;

    overflow-x: scroll;
    /* x is hier dus horizontaal */
    scroll-snap-type: x mandatory;
}

#recordList li {
    list-style-type: none;
    background-color: #eeeeee;
    border: 1px solid #dddddd;

    /* % is the size relative to the ul/paent */
    flex: 0 0 40% 40%;
    aspect-ratio: 1;

    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        width: 100%;
        height: 100%;
    }
}

/* creating carousel buttons */
/* block end voor volledige scroll */
#recordList::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    aspect-ratio: 1/1;
    background: var(--shadow-purple);
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

#recordList::scroll-button(*) {
    clip-path: polygon(0px calc(100% - 8px),
            2px calc(100% - 8px),
            2px calc(100% - 4px),
            4px calc(100% - 4px),
            4px calc(100% - 2px),
            8px calc(100% - 2px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 2px) 8px,
            calc(100% - 2px) 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 2px,
            calc(100% - 8px) 2px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 2px,
            4px 2px,
            4px 4px,
            2px 4px,
            2px 8px,
            0px 8px);
    position: relative;
}

/* rounded corners */

#recordList::scroll-button(*):hover,
#recordList::scroll-button(*):focus {
    opacity: 1;
}

#recordList::scroll-button(*):active {
    translate: 1px 1px;
}

#recordList::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

/* styling buttons */
#recordList::scroll-button(left) {
    content: "◄" / "Previous";
}

#recordList::scroll-button(right) {
    content: "►" / "Next";
}

/* positioning with anchor positioning */
#recordList {
    anchor-name: --my-carousel;
}

#recordList::scroll-button(*) {
    position: absolute;
    position-anchor: --my-carousel;
}

#recordList::scroll-button(left) {
    right: calc(anchor(left) - 30%);
    bottom: calc(anchor(bottom) + 1rem);
}

#recordList::scroll-button(right) {
    left: calc(anchor(right) - 30%);
    bottom: calc(anchor(bottom) + 1rem);
}

/* scroll markers */
/* kijk naar de tweede demo om er echt een tijdlijn van te maken */
/* #recordList {
    scroll-marker-group: after;
}

#recordList::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    top: calc(anchor(top) - 70px);
    justify-self: anchor-center;

    display: flex;
    justify-content: center;
    gap: 20px;
}

li::scroll-marker { */
    /* content mag eig niet leeg zijn dus kijk ff op de site voo rwat je moet doen */
    /* content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 16px;
}

/* waar de scrollmarker is */
/*
li::scroll-marker:target-current {
    background-color: black;
} */


/* styling for the carrousel effect with the records turning */
#recordList {
    transition: all 0.5s ease-out;
    perspective: 20rem;
}

#recordList .is-active {
    transform: rotateY(0deg) scale(1);

}

li {
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;

}

.right-of-center {
    transform: rotateY(-45deg) translateZ(-10rem);
}

.left-of-center {
    transform: rotateY(45deg) translateZ(-10rem);
}