:root {
    --bg-color: #9d949f;
    --text-color: #B49EF1;
    --box-color: #f6f6eb;
    --border-color: #2e2b2f;
}

img {
    height: 200px;
    aspect-ratio: 1/1;
}

body {
    /* background: hotpink; */

    font-family: monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
}

form {
    background-color: var(--box-color);
    border: 2px solid var(--border-color);
}