---
import "../styles/style.css"

const discogsKey = import.meta.env.DISCOG_TOKEN;
const userName = "lisa_luijk";
const discogsURL = `https://api.discogs.com/users/${userName}/collection/folders/0/releases?token=${discogsKey}&per_page=100&sort=artist`;
const response = await fetch(discogsURL);
const data = await response.json();
const records = data.releases;

// let displayRecords = records

// console.log(records)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Your record playlist</title>
		
	</head>
	<body>
		<p>Hi welcome</p>
		

		<form method="GET" action="/results" >
			<h1>What are you in the mood for?</h1>
			<label for="amountTime">
				How long do you want to listen for?
				<input id="amountTime" type="number" name="listenTime"/>
			</label>

			<fieldset id="genreButtons">
				<legend>What genres do you want to listen to?</legend>
			</fieldset>

			<button type="submit">verstuur</button>
		</form>

		<!-- <ul id="recordList"></ul> -->


		<script define:vars={{ records }}>
		

			// const recordsList = document.querySelector("#recordList");
			// const recordsListItems =
			// 	document.querySelectorAll("#recordList > *");
			// console.log(recordsListItems);


			// console.log(button);
			// console.log(filteredRecords);
			// let displayRecords = records;


			// filterButton.addEventListener("click", () => {
			// 	const filteredRecords = records.filter((r) =>
			// 		r.basic_information.genres?.includes("Reggae"),
			// 	);

			// 	displayRecords = filteredRecords;
			// 	console.log("test");

			// 	recordsListItems.forEach((listItem) => {
			// 		listItem.remove();
			// 	});

			// 	displayRecords.forEach((record) => {
			// 		const li = document.createElement("li");
			// 		const img = document.createElement("img");
			// 		img.src = record.basic_information.cover_image;
			// 		img.alt = record.basic_information.title;

			// 		li.appendChild(img);

			// 		recordsList.appendChild(li);
			// 	});
			// });


			// get filter buttons!!!
			// get data to browser
			// const displayRecords = JSON.parse(`{JSON.stringify(records)}`);
			const displayRecords = records;

			console.log(displayRecords)


			// change buttoncontainer to fieldset
			const buttonContainer = document.querySelector("#genreButtons");
			// const list = document.querySelector("#recordList");

			// get genres
			const genres = [
				...new Set(
					displayRecords.flatMap(
						(record) => record.basic_information.genres || [],
					),
				),
			];

			// create filter buttons
			genres.forEach((genre) => {
				// source https://developer.mozilla.org/en-US/docs/Web/API/Document/createElement
				const checkbox = document.createElement("input");
				checkbox.type = "checkbox";
				checkbox.name = "genres";
				checkbox.value = genre;
				
				const checkboxLabel = document.createElement("label")
				checkboxLabel.textContent = genre;

				// checkbox.addEventListener("click", () => {
				// 	renderList(genre);
				// });

				checkboxLabel.appendChild(checkbox)
				buttonContainer.appendChild(checkboxLabel);
			});

			// filter function
			// change function name and list
			// function renderList(selectedGenre) {
			// 	list.innerHTML = "";

			// 	const filtered = displayRecords.filter((record) =>
			// 		record.basic_information.genres?.includes(selectedGenre),
			// 	);

			// 	filtered.forEach((record) => {
			// 		const li = document.createElement("li");

			// 		const img = document.createElement("img");
			// 		img.src = record.basic_information.cover_image;
			// 		img.alt = record.basic_information.title;

			// 		const title = document.createElement("p");
			// 		title.textContent = record.basic_information.title;

			// 		li.appendChild(img);
			// 		li.appendChild(title);

			// 		list.appendChild(li);
			// 	});
			// }

			//  show all records already
			// 👉 4. Optional: show all records initially
			// renderList(genres[0]);
		</script>
	</body>
</html>
